<p id="notice"><%= notice %></p>

<h1>Members</h1>

<div class="members-container">
  <table>
    <tbody class="members-table">
      <% @members.each do |member| %>
        <tr class="members-row">
          <td><%= member.firstname %></td>
          <td><%= member.lastname %></td>
          <td><%= member.address %></td>
          <td><%= member.phone %></td>
          <td><%= link_to 'Show', member %></td>
          <td><%= link_to 'Edit', edit_member_path(member) %></td>
          <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Member', new_member_path %>
